.App {
  text-align: center;
}

form{
  background-color:lightskyblue;
  border-radius:5px;
  border:3px solid black;
  height:600px;
  width:518px;
  font-size:1.3rem;
}
form label{
  width:150px;
  display:inline-block;
}
form Div{
  margin:20px;
}
button{
  padding:5px;
  background-color:lightcoral;
  border-radius: 5px;
  width:100px;
  font-size:1.2rem;
}